#container{
     width:100%;
	 height:100%;
	 
	 
}
#box1{
	 width:100%;
	 height:50%;
	
	 margin:auto;
	 background-color:skyblue;
}
#box2{
	 width:100%;
	 height:50%;
	 
	 margin:auto;
	 background-color:darkblue;
}
#hed{
	width:80%;
	 height:20%;

	 margin:auto;
}
#crd{
	width:80%;
	 height:80%;
	
	 display:flex;
	 margin:auto;
}
#body{
	width:12%;
	 height:82%;
	
	 margin:auto;
	 padding-top:5px;
	 margin-top:0px;
}
.cir{
	 width:70px;
	 height:70px;
	background-color:white;
	 border-radius:35px;
	 
}
h1{
	color:white;
	margin-top:0px;
}
h3{
	color:white;
}
.cir img{
	width:100%;
	height:100%;
}


